<div class="container">
  <div class="main-page categories-news">
    <!-- <div class="filters-select">
      <mat-label>Country:</mat-label>
      <mat-form-field appearance="fill" class="select-form">
        <mat-select (selectionChange)="applyFilter()" [(value)]="selectedCountry" name="countries">
          <mat-option *ngFor="let country of countries" [value]="country.value">
            {{country.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <app-backend-error-messages *ngIf="error$ | async" [backendErrors]="error$ | async"></app-backend-error-messages>

    <div *ngIf="!(error$ | async)">
      <div class="top-news">
        <div class="row">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Top News in <strong>{{ selectedCountryName }}</strong></h3>
          </div>
        </div>
        <app-loading *ngIf="isLoading$ | async"></app-loading>
        <div class="row news-container" *ngIf="articlesResponse">
          <div class="news-item" *ngFor="let article of articlesResponse">
            <a href="{{ article.url }}" class="col-lg-6 article">
              <div>
                <div *ngIf="article.author" class="article-author">
                  <div class="article-author__block">{{ domainName(article.author) }}</div>
                </div>
                <div class="title-block">
                  <a href="{{ article.url }}" class="font-weight-600 mt-3 article-title">
                    {{ article.title }}
                  </a>
                </div>
                <p class="fs-15 font-weight-normal article-date">
                  <mat-icon> schedule </mat-icon>
                  {{ article.publishedAt | date:'longDate' }}
                </p>
              </div>
              <div class="image-container">
                <div class="position-relative image-hover">
                  <img *ngIf="article.urlToImage" [src]="article.urlToImage" class="img-fluid" alt="country-news" />
                  <img *ngIf="!article.urlToImage"
                    src="https://programmes.files.bbci.co.uk/programmes-frontend/images/logos/svg/bbc_news/service-e023058093.svg"
                    alt="country-news">
                  <span class="thumb-title">NEWS</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
