<div class="container">
  <div class="main-page categories-news">
    <div class="top-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Top News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6  mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/glob.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h1 class="font-weight-600 mt-3">
            Melania Trump speaks about courage at State Department
          </h1>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type
            and
          </p>
        </div>
        <div class="col-lg-6  mb-5 mb-sm-2">
          <div class="row">
            <div class="col-sm-6  mb-5 mb-sm-2">
              <div class="position-relative image-hover">
                <img src="assets/images/dashboard/star-magazine-5.jpg" class="img-fluid" alt="world-news" />
                <span class="thumb-title">POLITICS</span>
              </div>
              <h5 class="font-weight-600 mt-3">
                A look at California's eerie plane graveyards
              </h5>
              <p class="fs-15 font-weight-normal">
                Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
            <div class="col-sm-6  mb-5 mb-sm-2">
              <div class="position-relative image-hover">
                <img src="assets/images/dashboard/star-magazine-6.jpg" class="img-fluid" alt="world-news" />
                <span class="thumb-title">TRAVEL</span>
              </div>
              <h5 class="font-weight-600 mt-3">
                The world's most beautiful racecourses
              </h5>
              <p class="fs-15 font-weight-normal">
                Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6  mb-5 mb-sm-2">
              <div class="position-relative image-hover">
                <img src="assets/images/dashboard/star-magazine-7.jpg" class="img-fluid" alt="world-news" />
                <span class="thumb-title">POLITICS</span>
              </div>
              <h5 class="font-weight-600 mt-3">
                Japan cancels cherry blossom festivals over virus fears
              </h5>
              <p class="fs-15 font-weight-normal">
                Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
            <div class="col-sm-6">
              <div class="position-relative image-hover">
                <img src="assets/images/dashboard/star-magazine-8.jpg" class="img-fluid" alt="world-news" />
                <span class="thumb-title">TRAVEL</span>
              </div>
              <h5 class="font-weight-600 mt-3">
                Classic cars reborn as electric vehicles
              </h5>
              <p class="fs-15 font-weight-normal">
                Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="world-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Top News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="general-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">General News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="entertainment-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Entertainment News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="business-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Business News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="sports-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Sports News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="health-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Health News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="science-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Science News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
    <div class="technology-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Technology News</h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">TRAVEL</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            Refugees flood Turkey's border with Greece
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">NEWS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            South Korea’s Moon Jae-in sworn in vowing address
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">ART</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            These puppies are training to assist in avalanche rescue
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
            <span class="thumb-title">BUSINESS</span>
          </div>
          <h5 class="font-weight-bold mt-3">
            'Love Is Blind' couple opens up about their first year
          </h5>
          <p class="fs-15 font-weight-normal">
            Lorem Ipsum has been the industry's standard dummy text
          </p>
          <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
        </div>
      </div>
    </div>
  </div>
</div>
