<div class="container">
  <div class="main-page categories-news">
    <div class="filters-select">
      <mat-label>Country:</mat-label>
      <mat-form-field appearance="fill" class="select-form">
        <mat-select (selectionChange)="applyFilter()" [(value)]="selectedCountry" name="countries">
          <mat-option *ngFor="let country of countries" [value]="country.value">
            {{country.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-backend-error-messages 
      *ngIf="error$ | async" 
      [backendErrors]="error$ | async"
    ></app-backend-error-messages>

    <div *ngIf="!(error$ | async)">
      <div class="top-news">
        <div class="row">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Top News in <strong>{{ getSelectedCountryName(selectedCountry) }}</strong></h3>
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
        <app-loading *ngIf="isLoading$ | async"></app-loading>
        <div class="row news-container" *ngIf="articles$ | async as articles">
          <a href="{{ articles.articles[0].url }}" class="col-lg-6  mb-5 mb-sm-2 article">
            <div class="position-relative image-hover">
              <img *ngIf="articles.articles[0].urlToImage" [src]="articles.articles[0].urlToImage" class="img-fluid" alt="country-news" />
              <img *ngIf="!articles.articles[0].urlToImage" src="https://programmes.files.bbci.co.uk/programmes-frontend/images/logos/svg/bbc_news/service-e023058093.svg" alt="country-news">
              <span class="thumb-title">NEWS</span>
            </div>
            <div *ngIf="articles.articles[0].author" class="article-author">
              <div class="article-author__block">{{ domainName(articles.articles[0].author) }}</div>
            </div>
            <div class="title-block">
              <a href="{{ articles.articles[0].url }}" class="font-weight-600 mt-3 article-title fs-30">
                {{ articles.articles[0].title }}
              </a>
            </div>
            <p class="fs-15 font-weight-normal article-date">
              <mat-icon> schedule </mat-icon>
              {{ articles.articles[0].publishedAt | date:'longDate' }}
            </p>
          </a>
          <div class="col-lg-6  mb-5 mb-sm-2">
            <div class="row">
              <a href="{{ articles.articles[1].url }}" class="col-sm-6  mb-5 mb-sm-2 article">
                <div class="position-relative image-hover">
                  <img *ngIf="articles.articles[1].urlToImage" [src]="articles.articles[1].urlToImage" class="img-fluid"
                    alt="country-news" 
                  />
                  <img *ngIf="!articles.articles[1].urlToImage"
                    src="https://programmes.files.bbci.co.uk/programmes-frontend/images/logos/svg/bbc_news/service-e023058093.svg"
                    alt="country-news"
                  />
                  <span class="thumb-title">NEWS</span>
                </div>
                <div *ngIf="articles.articles[1].author" class="article-author">
                  <div class="article-author__block">{{ domainName(articles.articles[1].author) }}</div>
                </div>
                <div class="title-block">
                  <a href="{{ articles.articles[1].url }}" class="font-weight-600 mt-3 article-title fs-14">
                    {{ articles.articles[1].title }}
                  </a>
                </div>
                <p class="fs-15 font-weight-normal article-date">
                  <mat-icon> schedule </mat-icon>
                  {{ articles.articles[1].publishedAt | date:'longDate' }}
                </p>
              </a>
              <a href="{{ articles.articles[2].url }}" class="col-sm-6  mb-5 mb-sm-2 article">
                <div class="position-relative image-hover">
                  <img *ngIf="articles.articles[2].urlToImage" [src]="articles.articles[2].urlToImage" class="img-fluid"
                    alt="country-news" />
                  <img *ngIf="!articles.articles[2].urlToImage"
                    src="https://programmes.files.bbci.co.uk/programmes-frontend/images/logos/svg/bbc_news/service-e023058093.svg"
                    alt="country-news" />
                  <span class="thumb-title">NEWS</span>
                </div>
                <div *ngIf="articles.articles[2].author" class="article-author">
                  <div class="article-author__block">{{ domainName(articles.articles[2].author) }}</div>
                </div>
                <div class="title-block">
                  <a href="{{ articles.articles[2].url }}" class="font-weight-600 mt-3 article-title fs-14">
                    {{ articles.articles[2].title }}
                  </a>
                </div>
                <p class="fs-15 font-weight-normal article-date">
                  <mat-icon> schedule </mat-icon>
                  {{ articles.articles[2].publishedAt | date:'longDate' }}
                </p>
              </a>
            </div>
            <div class="row mt-3">
              <a href="{{ articles.articles[3].url }}" class="col-sm-6  mb-5 mb-sm-2 article">
                <div class="position-relative image-hover">
                  <img *ngIf="articles.articles[3].urlToImage" [src]="articles.articles[3].urlToImage" class="img-fluid"
                    alt="country-news" />
                  <img *ngIf="!articles.articles[3].urlToImage"
                    src="https://programmes.files.bbci.co.uk/programmes-frontend/images/logos/svg/bbc_news/service-e023058093.svg"
                    alt="country-news" />
                  <span class="thumb-title">NEWS</span>
                </div>
                <div *ngIf="articles.articles[3].author" class="article-author">
                  <div class="article-author__block">{{ domainName(articles.articles[3].author) }}</div>
                </div>
                <div class="title-block">
                  <a href="{{ articles.articles[3].url }}" class="font-weight-600 mt-3 article-title fs-14">
                    {{ articles.articles[3].title }}
                  </a>
                </div>
                <p class="fs-15 font-weight-normal article-date">
                  <mat-icon> schedule </mat-icon>
                  {{ articles.articles[3].publishedAt | date:'longDate' }}
                </p>
              </a>
              <a href="{{ articles.articles[4].url }}" class="col-sm-6  mb-5 mb-sm-2 article">
                <div class="position-relative image-hover">
                  <img *ngIf="articles.articles[4].urlToImage" [src]="articles.articles[4].urlToImage" class="img-fluid"
                    alt="country-news" />
                  <img *ngIf="!articles.articles[4].urlToImage"
                    src="https://programmes.files.bbci.co.uk/programmes-frontend/images/logos/svg/bbc_news/service-e023058093.svg"
                    alt="country-news" />
                  <span class="thumb-title">NEWS</span>
                </div>
                <div *ngIf="articles.articles[4].author" class="article-author">
                  <div class="article-author__block">{{ domainName(articles.articles[4].author) }}</div>
                </div>
                <div class="title-block">
                  <a href="{{ articles.articles[4].url }}" class="font-weight-600 mt-3 article-title fs-14">
                    {{ articles.articles[4].title }}
                  </a>
                </div>
                <p class="fs-15 font-weight-normal article-date">
                  <mat-icon> schedule </mat-icon>
                  {{ articles.articles[4].publishedAt | date:'longDate' }}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="world-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Top News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="general-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">General News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="entertainment-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Entertainment News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="business-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Business News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="sports-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Sports News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="health-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Health News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="science-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Science News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
      <div class="technology-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Technology News</h3>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/travel.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">TRAVEL</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              Refugees flood Turkey's border with Greece
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/news.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">NEWS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              South Korea’s Moon Jae-in sworn in vowing address
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/art.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              These puppies are training to assist in avalanche rescue
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img src="assets/images/dashboard/business.jpg" class="img-fluid" alt="world-news" />
              <span class="thumb-title">BUSINESS</span>
            </div>
            <h5 class="font-weight-bold mt-3">
              'Love Is Blind' couple opens up about their first year
            </h5>
            <p class="fs-15 font-weight-normal">
              Lorem Ipsum has been the industry's standard dummy text
            </p>
            <a href="#" class="font-weight-bold text-dark pt-2">Read Article</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
