<footer>
  <div class="container-fluid pb-4">
    <div class="container">
      <div class="row footer-row">
        <div class="col-12 spdp-right"><a class="navbar-brand" href="#">World vision</a></div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="footer-main-title py-3"> About</div>
          <div class="footer-sub-about pb-3"> Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="footer-main-title py-3">Get In Touch</h5>
          <p class="footer-sub-about"><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
          <p class="footer-sub-about"><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
          <p class="footer-sub-about"><i class="fa fa-envelope mr-2"></i>info@example.com</p>
          <h6 class="footer-main-title py-3">Follow Us</h6>
          <div class="d-flex justify-content-start" style="gap: 15px">
            <a class="btn btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-secondary btn-lg-square" href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <div class="footer-main-title py-3"> Category</div>
          <ul class="footer-menu">
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Business</a></li>
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Entertainment</a></li>
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; General</a></li>
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Health</a></li>
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Sports</a></li>
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Science</a></li>
            <li><a href="#" class="menu-item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Technology</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <button ngxScrollTop [ngxScrollTopMode]="'smart'" class="my-custom-style" color="primary" mat-mini-fab>
    top
  </button>
</footer>